@media (min-width: 1024px) {
  .logo {
    width: 21.875vh;
    height: 6.25vh; }
  .download {
    flex-direction: row; }
    .download__link + .download__link {
      margin: 0 0 0 2.60417vw; }
    .download__link {
      width: 16.66667vw;
      font-size: 0.72917vw; }
    .download__svg {
      padding: 0 1.04167vw 0 0; }
      .download__svg svg {
        padding: 0.52083vw 0;
        width: 2.60417vw;
        height: 2.60417vw; }
  .header {
    justify-content: center;
    flex-direction: row; }
    .header__logo {
      margin-right: 1.82vw;
      width: 6.7vw;
      height: 6.7vw;
      padding: 1.56vw 1vw;
      border-radius: 1.3vw; }
    .header__title {
      font-size: 4.16vw; }
    .header__descr {
      font-size: 1.56vw; }
  .first-screen {
    padding: 2.08333vw 10% 5.72917vw 10%; }
    .first-screen__title {
      margin: 0;
      font-size: 4.6875vw;
      width: 100%; }
      .first-screen__title_right {
        text-align: right; }
  .advantages__list {
    position: relative; }
  .advantages__item {
    padding: 3.125vw 0; }
    .advantages__item_right {
      padding-left: 55%;
      padding-right: 13.02083vw; }
      .advantages__item_right:nth-child(2) {
        width: 50%;
        position: absolute;
        top: 2.60417vw;
        left: 0;
        background: transparent;
        text-align: right; }
    .advantages__item_left {
      padding-right: 55%;
      padding-left: 13.02083vw; }
      .advantages__item_left:nth-child(2) {
        width: 60%;
        position: absolute;
        top: 2.60417vw;
        right: 7.29167vw;
        background: transparent;
        text-align: right; }
  .advantages__img_athlet img {
    width: 65%; }
  .advantages__title {
    padding-left: 1.5625vw;
    font-size: 1.875vw; }
    .advantages__title::before {
      transform: translate(0, 0.36458vw);
      font-size: 0.9375vw; }
    .advantages__title::after {
      font-size: 0.9375vw;
      width: 0.9375vw;
      height: 0.20833vw;
      transform: translate(0, 1.77083vw); }
  .advantages__header {
    font-size: 4.16667vw; }
  .advantages__text {
    fot-size: 1.04167vw; }
  .action__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    .action__item:nth-child(2) .action__img {
      grid-column: 2/3; }
    .action__item:nth-child(2) .action__content {
      padding: 0 6.77083vw 0 10.9375vw;
      grid-column: 1/2;
      grid-row: 1/2; }
  .action__img {
    height: 100%; }
    .action__img img {
      width: 100%;
      height: 100%; }
  .action__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10.9375vw 0 6.77083vw;
    height: 100%; }
    .action__content::before {
      font-size: 1.25vw;
      width: 8.75vw;
      height: 8.07292vw;
      top: 32%;
      transform: none; }
    .action__content_01::before, .action__content_03::before {
      left: -4.375vw; }
    .action__content_02::before {
      top: 34%;
      right: -4.375vw; }
    .action__content::after {
      transform: none;
      width: 1.25vw;
      height: 0.26042vw;
      top: 47%; }
    .action__content_01::after, .action__content_03::after {
      left: -0.67708vw; }
    .action__content_02::after {
      right: -0.67708vw; }
    .action__content_03::after {
      top: 45%; }
  .action__title {
    font-size: 4.16667vw; }
  .action__text {
    font-size: 1.25vw; } }

/*# sourceMappingURL=main_descktop(1024+).css.map */
