// Colors

$bg-blur: rgba(9,12,53, 0.9);
$purple: #5e42b0;
$h2-color: #e7e7e7;
$h3-color: #c1c1c1;
$bg-grey: #f6f4fa;
$bg-lightgrey: #fafafa;
$txt-white-color: #f0eef8;
$darkpurple: #0a0e34;
$purple-underline: #8f7bc8;
$logo-gradient: linear-gradient(to top right, #51339d, #7650D8);
$under-header-color: #A495CC;